<!DOCTYPE HTML>
<html>
<head>
    <title>모의면접_삼두구이</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
</head>
<body>
<img src="{{ url_for('static', filename='images/logo.svg') }}" alt="NICE Group Logo" class="logo">
<div class="loading-overlay" id="loadingOverlay">
    <div class="spinner"></div>
</div>
<div class="main-content">
    <div class="main_tit">
        <div class="mainImgBox">
            <div class="main_img">
                <img src="{{ url_for('static', filename='images/photo.png') }}" alt="Photo">
            </div>
            <div class="main_img_bg"></div>
        </div>
        <div class="main_txt">
            <p>[NICE ZINIDATA]</p>
            <p>김민수 대표님</p>
        </div>
    </div>
    <div class="container">
        <div class="messages" id="messages">
            {{ my_variable|safe }}
        </div>
        <div class="formBox">
            <form id="chat-form" action="/submit" method="post" class="form-container" enctype="multipart/form-data">
                <textarea id="user_input" name="user_input" placeholder="면접 내용을 입력해주세요."></textarea>
                <div class="form-actions submit_btn">
                    <input type="submit" value="Submit" class="submitBtn">
                </div>
                <label for="file-upload" class="custom-file-upload">
                    <img src="{{ url_for('static', filename='images/folder-solid.svg') }}" alt="Photo">
                </label>
                <input id="file-upload" type="file" name="file" onchange="displayFileName()"/>
                <span class="file-info" id="file-info">선택된 파일 없음</span>
            </form>
        </div>
    </div>
</div>
<div class="threads">
    <div class="resetBtn">
    <input type="button" value="Reset" class="reset" id="reset_btn" onclick="location.href='/reset'"/>
    <input type="button" value="play" class="reset" id="mp3_play_btn">


    </div>
    <div class="sectionThreads">
        <p class="threadTit">오늘</p>
        <ul>
            {% for data in today_threads %}
            <li data-threadid="{{data.thread_id}}">{{ data.name }} 면접 내용</li>
            {% endfor %}
        </ul>
    </div>
    <div class="sectionThreads">
        <p class="threadTit">지난 7일</p>
        <ul>
            {% for data in past_week_threads %}
            <li data-threadid="{{data.thread_id}}">{{ data.name }} 면접 내용</li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="ranking-container">
    <div class="ranking-title">Score Board</div>
    <div class="ranking-tableBox">
        <table class="ranking-table">
            <colgroup>
                <col width="20%"/>
                <col width="40%"/>
                <col width="40%"/>
            </colgroup>
            <tr>
                <th>Rank</th>
                <th>Name</th>
                <th>Score</th>
            </tr>
            {% for data in extracted_data %}
            <tr>
                <td>{{ data.rank }}</td>
                <td>{{ data.name }}</td>
                <td>{{ data.score }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
<div class="videoPopup">
    <div class="videoCont">
        <div class="close"></div>
        <video id="videoPlayer" width="600" controls>
            <source src="{{ url_for('static', filename='videos/output_video.mp4') }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="bk_bg"></div>
</div>

<audio id="audioPlayer" src="{{ url_for('static', filename='audio/speech.mp3') }}" type="audio/mp3"></audio>

<script>
    const video = document.getElementById("videoPlayer");
    const audioPlayer    = document.getElementById("audioPlayer");
    const playBtn = document.getElementById('mp3_play_btn');

    document.getElementById('chat-form').addEventListener('submit', function(event) {
        var fileInput = document.getElementById('file-upload');
        if (fileInput.files.length > 0) {
            this.action = "/upload";
        } else {
            this.action = "/submit";
        }
        document.getElementById('loadingOverlay').classList.add('active');
    });

    function displayFileName() {
        var input = document.getElementById('file-upload');
        var infoArea = document.getElementById('file-info');
        var fileName = input.files[0] ? input.files[0].name : "선택된 파일 없음";
        infoArea.textContent = fileName;
    }

    $(function() {
        $('.ranking-title').click(function () {
            $('.ranking-container').toggleClass('up').removeClass('down')

            if (!$('.ranking-container').hasClass('up')) {
                $('.ranking-container').addClass('down')
            }
        });

        $('.main_img').click(function () {
            document.getElementById('loadingOverlay').classList.add('active');
            $('.videoPopup').addClass('active');
            audioPlayer.pause();
            playBtn.value = "pause";

            // 서버로 get_last_assistant_message 요청을 보냄
            $.post('/get_first_assistant_message', function (response) {
                if (response.status === 'success') {
                    document.getElementById('loadingOverlay').classList.remove('active');
                    video.play()
                    console.log('Last assistant message: ' + response.message);
                } else {
                    console.log('Error: ' + response.message);
                }
            });
        });

        $('.videoPopup .close, .bk_bg').click(function () {
            video.pause()
            $('.videoPopup').removeClass('active');
        });

        $('li[data-threadid]').click(function () {
            var thread_id = $(this).data('threadid');
            $.post('/retrieve_thread', {thread_id: thread_id}, function (response) {
                if (response.status === 'success') {
                    $("#mp3_play_btn").hide()
                    var messages = response.messages;
                    var html = '';
                    messages.forEach(function (message) {
                        var role_class = message.role === 'assistant' ? 'assistant' : 'user';
                        html += '<div class="message ' + role_class + '">' + message.content + '</div>\n';
                    });
                    $('#messages').html(html);
                } else {
                    alert('Error retrieving thread: ' + response.message);
                }
            });
        });

        // Trigger the hidden button for initial loading
        $('#initial-load').click(function () {
            window.location.href = '/reset';
        }).trigger('click');

        playBtn.addEventListener('click', function () {
            if (audioPlayer.paused || audioPlayer.ended) {
                audioPlayer.play();
                playBtn.value = "pause";
            } else {
                audioPlayer.pause();
                playBtn.value = "play";
            }
        });

        audioPlayer.addEventListener('ended', function() {
            playBtn.value = "play";
        });

        $("#reset_btn").click(function (){
            $("#mp3_play_btn").show()
        })
    });
</script>
</body>
</html>
