<!DOCTYPE HTML>
<html>
<head>
    <title>모의면접_삼두구이</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
<img src="{{ url_for('static', filename='images/logo2.png') }}" alt="NICE Group Logo" class="logo">
<div class="loading-overlay" id="loadingOverlay">
    <div class="spinner"></div>
</div>
<div class="main-content">
    <div class="image-container">
        <img src="{{ url_for('static', filename='images/photo.png') }}" alt="Photo">
    </div>
    <div class="container">
        <div class="messages">
            {{ my_variable|safe }}
        </div>
        <form id="chat-form" action="/submit" method="post" class="form-container">
            <textarea id="user_input" name="user_input" placeholder="면접 내용을 입력해주세요."></textarea>
            <div class="form-actions">
                <input type="submit" value="Submit">
                <input type="button" value="Reset" onclick="location.href='/reset'">
            </div>
        </form>
        <form id="upload-form" action="/upload" method="post" enctype="multipart/form-data" class="form-actions file-upload">
            <label for="file-upload" class="custom-file-upload">
                파일 선택
            </label>
            <input id="file-upload" type="file" name="file" onchange="displayFileName()"/>
            <span class="file-info" id="file-info">선택된 파일 없음</span>
            <input type="submit" value="Upload">
        </form>
    </div>
    <div class="ranking-container">
        <div class="ranking-title">Score Board</div>
        <table class="ranking-table">
            <tr>
                <th>Rank</th>
                <th>Name</th>
                <th>Score</th>
            </tr>
            {% for data in extracted_data %}
            <tr>
                <td>{{ data.rank }}</td>
                <td>{{ data.name }}</td>
                <td>{{ data.score }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
<script>
    document.getElementById('chat-form').addEventListener('submit', function() {
        document.getElementById('loadingOverlay').classList.add('active');
    });

    document.getElementById('upload-form').addEventListener('submit', function() {
        document.getElementById('loadingOverlay').classList.add('active');
    });

    function displayFileName() {
        var input = document.getElementById('file-upload');
        var infoArea = document.getElementById('file-info');
        var fileName = input.files[0] ? input.files[0].name : "선택된 파일 없음";
        infoArea.textContent = fileName;
    }
</script>
</body>
</html>
